#root {
  width: 100%;
  color: white;
}
nav {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav p {
  font-size: 1.7rem;
  font-weight: 700;
}
.youtube-icon {
  color: red;
  height: 2rem;
  width: 2rem;
}
nav form {
  background-color: white;
  width: 300px;
  height: 1.1rem;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav form button {
  border: none;
  background-color: transparent;
}
nav form input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
nav form input:focus {
  outline: none;
}
.search-icon {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  color: red;
  transition: 0.3s;
}
main {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.btn-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}
.link-icon {
  color: red;
  width: 2rem;
  height: 2rem;
}
